@import "../../variables";

.productsContainer {
  @include container();
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;

  .productsGridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .title {
    text-align: center;
    font-family: $titlesFont;
    font-size: 26px;
    color: $quaternaryColor;
    span {
      border: 3px solid $quaternaryColor;
      padding: 5px 10px;
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }
}
