@import "../../variables";

.repairContainer {
  @include container();

  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: $tertiaryColor;
    border-radius: 10px;
    padding: 30px;
    p {
      color: white;
      font-weight: bold;
    }
    h1 {
      font-family: $titlesFont;
      span {
        color: $primaryColor;
        font-family: $titlesFont;
      }
    }
    button {
      z-index: 10;
      padding: 5px 10px;
      font-family: $paragraphsFont;
      background-color: white;
      border: 2px solid black;
      color: black;
      font-weight: bold;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.4s;
      position: relative;
      overflow: hidden;

      &:hover {
        color: #fff;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: black;
        z-index: -1;
        transition: transform 0.5s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
        transform: scaleX(0);
      }
      &:hover::before {
        transform: unset;
      }
    }
  }
}
