@import "../../variables";

.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .filterBtn {
    padding: 5px 10px;
    border: 2px solid $secondaryColor;
    background-color: $primaryColor;
    border-radius: 5px;
    font-weight: bold;
    color: $quaternaryColor;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  .active {
    border: 2px solid $quaternaryColor;
    background-color: $secondaryColor;
    color: white;
  }
}
