@import '../../variables';

.navbar{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 99;
//    background-color: white;
    margin: 0 auto;
    padding: 5px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
        font-family: $paragraphsFont;
        font-weight: bold;
        border: none;
        font-size: 15px;
        height: 70%;
        cursor: pointer;
    color: white;

        background-color: transparent;
    }
    .logo{
        font-family: $titlesFont;
        font-weight: bold;
        font-size: 36px;
        color: $tertiaryColor;
    }
    .icon{
        width: 30px;
        height: 30px;
        transition: all 0.4s;
    }
    .dropIcon{
        width: 20px;
        height: 20px;
    }
    .middle{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .productsButtonContainer{
        position: relative;
        
    }
    .productsButton{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .dropDown{
        border: 2px solid $tertiaryColor;
        position: absolute;
        bottom: -110px;
        border-radius: 5px;
        padding: 5px;
        // background-color: white;
        
    }
    .dropdownBtn{
        transition: all 0.3s;
        &:hover{
            color: $secondaryColor;
        }
    }
    .navButton{
        transition: all 0.2s;
        &:hover{
            transform: translateY(-3px);
        }
    }
    .iconContainer{
        position: relative;
        cursor: pointer;
        .overlayInfo{
            position: absolute;
            transition: all 0.3s;
            top: -1px;
            right: -2px;
            padding: 0px 4px;
            font-size: 12px;
            font-weight: bold;
            border: 2px solid black;
            color: white;
            background-color: $tertiaryColor;
            border-radius: 50%;
            animation: show 0.2s ease-in-out forwards;
        }
        &:hover{
            .icon{
                fill: $primaryColor;
                transform: translateY(-3px) rotate(20deg);
            }
            .overlayInfo{
               display: none;
            }
        }
    }
}

@keyframes show {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;

    }
    100%{
        opacity:1;

    }
}

.navbarScroll{
    background-color: white;
    padding: 15px 60px;

    button{
    color: black;
    }
    .dropDown{
        background-color: white;
    }
}