//styling colors
$primaryColor:  #EDF1D6;
$secondaryColor:  #9DC08B;
$tertiaryColor:  #609966;
$quaternaryColor:  #40513B;

//fonts
$titlesFont: 'Pacifico', cursive;
$paragraphsFont:'Poppins', sans-serif;